.topStyle{
    /* padding-left:2em;
    padding-right:2em; */
    background-color: #dd5f64;
    width:100%;
    z-index:99;
    position:fixed;
    -webkit-box-shadow: 3px 10px 35px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 10px 35px -5px rgba(0,0,0,0.75);
box-shadow: 3px 10px 35px -5px rgba(0,0,0,0.75);
}

.navItem{
    text-align:center;
    font-size:2em;
    font-size:2vw;
    display:inline-block;
    color:white;
    /* width:100%; */
}
.navRow{
    display:flex;
    justify-content: space-between;
    margin:0;
    padding:1em 0 1em 0;
}
